<h2>EDIT THE PROJECT</h2>

<div class="container"> 

    <form #form="ngForm" (ngSubmit)="updateProjectForm(form)">

        <!-- 2 column grid layout with text inputs for the title and duration -->
        <div class="row mb-4">
          
            <div class="col">
                <div class="form-outline">
                <input type="text" class="form-control" id="name"  [(ngModel)]="project.name" required
                [ngModelOptions]="{standalone: true}" />
                <label class="form-label" for="name">Project Title</label>
                </div>
            </div>
     
            <div class="col">
                <div class="form-outline">
                    <input type="number" id="time" class="form-control" [(ngModel)]="project.timeNeeded" required
                    [ngModelOptions]="{standalone: true}"/>
                    <label class="form-label" for="time">Time needed to complete the project in minutes</label>
                </div>
            </div>

        </div>
      
        <!-- material input -->
        <div class="form-outline mb-4">
          <input type="text" id="material" class="form-control" [(ngModel)]="project.material" required
          [ngModelOptions]="{standalone: true}"/>
          <label class="form-label" for="material">Material List</label>
        </div>
      
      
        <!-- description input -->
        <div class="form-outline mb-4">
          <textarea class="form-control" id="description" rows="4" [(ngModel)]="project.description" required
          [ngModelOptions]="{standalone: true}"></textarea >
          <label class="form-label" for="description">Description</label>
        </div>
      
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Update</button>
       
        <!-- Cancel button -->
        <button (click)="cancel()" class="btn btn-block mb-4 btn-danger btn-delete">Cancel</button>
  
    </form>

</div>