<div class="view-project">
  <div *ngIf="project">
    
    <div class="my-3 py-3">
      <h2 class="display-5">{{project.name}}</h2>
      <p class="lead">{{project.description}}</p>
    </div>
    
    <div class="my-3 py-3">
      <p class="display-5">Materials you will need:</p>
      <p class="lead">{{project.material}}</p>
    </div>
    
  </div>
  
  <div class="bg-light shadow-sm mx-auto"> 
    <img title="image by url" src="http://localhost:8080/api/v1/project/downloadFile/{{project.imageFileCode}}" />  
  </div>
</div>