

  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">D.I.Y. by U</h1>
      <p class="lead fw-normal">
        Arts and crafts are fun for everyone- both kids and adults alike - thanks to easy access to crafting materials everywhere we go! Anyone can make something out of anything with a little creativity- so get started!
      </p>
      <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>

    <!-- 2 image cards -->
    <div class="product-device shadow-sm d-none d-md-block">
      <img src="../../../../../assets/images/embroidery.jpg">
    </div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block">
      <img src="../../../../../assets/images/thread.jpg">
    </div>
  </div>

  <div>
    <h2>Project ideas</h2>
    <a routerLink="/add" class="btn btn-info">Add Project</a>
  </div>
 
  
  <!-- project listing-->
  <div class="d-md-flex flex-md-equal w-100 my-md-3 ps-md-3">

    <app-project-list></app-project-list>

  </div>


